/* Colors */
/* Font weight */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(320deg, #220710, #8e0a31);
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}
@media (min-width: 768px) {
  body {
    min-height: 100vh;
  }
}

/* Fonts */
h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 130%;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #fff;
}

h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #333;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  padding: 15px 20px;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #333;
  background: #fff;
  width: 190px;
}
@media (max-width: 767px) {
  a.btn {
    width: 80%;
  }
}
a.btn:hover {
  filter: brightness(0.9);
  transition: 0.5s ease;
}
a.btn p {
  font-size: 1.2rem;
}
a.btn hr {
  height: 120%;
  border: none;
  border-left: 1px solid #f1f1f1;
}

.container {
  max-width: 1330px;
  margin: auto;
  padding: 5% 0;
}
@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 70%;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* Others */
.container {
  padding: 25px 0;
}

.header {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .header .left {
    flex: 1;
  }
}
@media (max-width: 767px) {
  .header .left {
    width: 100%;
  }
}
.header .left #flag img {
  width: 180px;
  border: 3px solid white;
}
.header .left #coachCC {
  background: #fff;
  font-size: 1.2rem;
  width: 65%;
  padding: 5px;
}
@media (max-width: 1024px) {
  .header .left #coachCC {
    width: 100%;
  }
}
.header .left #cups {
  font-size: 1.5rem;
}
.header .right {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 20px;
  flex: 1;
}
@media (max-width: 767px) {
  .header .right {
    justify-content: center;
  }
}
.header .right #buttons, .header .right .navgation {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .header .right #buttons, .header .right .navgation {
    margin-top: 15px;
  }
}
.header .right #buttons .disable, .header .right .navgation .disable {
  filter: brightness(0.7) !important;
}
.header .right #buttons .disable:hover, .header .right .navgation .disable:hover {
  cursor: auto;
}
.header .right #buttons a, .header .right .navgation a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  background: #fff;
}
.header .right #buttons a:hover, .header .right .navgation a:hover {
  filter: brightness(0.9);
  transition: 0.5s ease;
}
.header .right hr {
  height: 50px;
  border: none;
  border-left: 1px solid #8e0a31;
}

#players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}
@media (max-width: 767px) {
  #players {
    justify-content: center;
  }
}

.card, .card-exist {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 200px;
  height: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .card, .card-exist {
    width: 300px;
    height: 400px;
  }
}

.card p {
  position: absolute;
  bottom: 15px;
}

.card-exist {
  flex-direction: column;
}
.card-exist img {
  width: 90%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card-exist .info {
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
}
.card-exist .info img {
  width: 35px;
}
.card-exist .info p {
  line-height: 100%;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}/*# sourceMappingURL=album.css.map */