/* Colors */
$title: #fff;
$font: #333;
$fontSecondary: #E7E7E7;
$primary: #fff;
$card: #f2f2f2;
$bgPrimary: #8e0a31;
$bgSecondary: #220710;

/* Font weight */
$regular: 400;
$medium: 500;
$bold: 700;

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(320deg, $bgSecondary, $bgPrimary);
    animation: fadein 1s;

    @media (min-width: 768px) { min-height: 100vh; } 
}

/* Fonts */
h1 {
    font-weight: $bold;
    font-size: 3.5rem;
    line-height: 130%;
    color: $title;
}

h2 {
    font-weight: $bold;
    font-size: 2.8rem;
    color: $title;
}

h3 {
    font-weight: $bold;
    font-size: 2.5rem;
    color: $font;
}

p {
    font-weight: $regular;
    font-size: 1rem;
    color: $font;
}

// Buttons
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

// Button
a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 3px;
    padding: 15px 20px;
    font-size: 1.8rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: $font;
    background: $primary;
    width: 190px;

    @media (max-width: 767px) { width: 80%; }

    &:hover {
        filter: brightness(.9);
        transition: .5s ease;
    }
    
    p { font-size: 1.2rem; }

    hr {
        height: 120%;
        border: none;
        border-left: 1px solid #f1f1f1;
    }
}

// Container
.container {
    max-width: 1330px;
    margin: auto;
    padding: 5% 0;

    @media (max-width: 767px) { width: 95%; }
    @media (min-width: 768px) and (max-width: 1024px) { width: 90%; }
    @media (min-width: 1025px) { width: 70%; }
}

// Animation
@keyframes fadein {
    from { opacity: 0.3; }
    to { opacity: 1; }
}