<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/album.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>Álbum online - Copa do mundo Catar 2022 | Álbum</title>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <!-- Team info -->
            <div class="left">
                <div id="flag"></div>
                <h1 id="teamName"></h1>
                <p id="coachCC">Técnico: <span id="coach"></span></p>
                <p id="cups"></p>
            </div>
            <!-- Navgation -->
            <div class="right">
                <div class="navgation">
                    <a href="./shop.html" class="btn-navigation">
                        <iconify-icon inline icon="ant-design:shop-twotone"></iconify-icon>
                    </a>
                    <a href="../../index.html" class="btn-navigation">
                        <iconify-icon inline icon="ant-design:home-twotone"></iconify-icon>
                    </a>
                    <a href="./repeated.html" class="btn-navigation">
                        <iconify-icon inline icon="ph:cards-duotone"></iconify-icon>
                    </a>
                </div>
                <hr>
                <div id="buttons"></div>
            </div>
        </div>
        <!-- Cards -->
        <div id="players"></div>
    </div>
</body>

<script src="./../js/data.js"></script>
<script src="./../js/album.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

</html>

<!-- https://www.flaticon.com/packs/international-flags -->